

 ul .items{
    margin: 0 20px;
}

/* .nav-span *{
    display: block;
    
    text-align: center;
    height: 19px;
    
} */


.left * {
    float: left;

}

.right * {
    text-align: end;
    
}

.nav{
    margin-bottom: 2px;
    /* padding: 0px; */
}

