.img {
  width: 100%;
  height: 200px;
}

.text {
  /* text-align: center; */
  align-self: center;
}

.title {
  text-align: center;
}


.quicksea{
    margin-top: 200px;
}

.sinitem{
    box-shadow: 10px 0px 5px #ddd1d1,0px 10px -1px #ddd1d1;
    padding: 10px 10px;
    margin: 25px 0;
    background-color: #f6f2f2;
}


.loadingimg{
  width: 100%;
}


.div{
  background-image: url("https://www.shangri-la.com/uploadedImages/Shangri-la_Hotels/Shangri-La%E2%80%99s_%E2%80%93_Eros_Hotel,_New_Delhi/SLND-about-the--hotel-background.jpg");
}