table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th{
  background-color: #dddddd;
  text-align: center;
}

.username{
  margin-bottom: 50px;
}

.userDetails{
  margin-left: 20px;
}